*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    --white: #fff;
    --matteblack: #28282B;
    --black: #000;
    --green: #009B3A;
    --gold: #ffD700;
    --black-color: 0, 0 ,0;
    --formBG: #f2f2f2;
    --footer: #535353;
    font-family: 'Times New Roman', Times, serif;
}

/*

    Media query for screens smaller than 900px

*/

@media only screen and (max-width: 900px) {

    /* Horizontal line before and after Heading */
    .flaunt-title::before{
        display: none;
    }
    /* Horizontal line before and after Heading */
    .flaunt-title::after{
        display: none;
    }

    /* 

    Flaunt content Picture and Text 

    */
    .flaunt-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flaunt-img{
        max-width: 100%;
        padding: 10px 30px;
    }


}

/*

    Media query for screens smaller than 700px

*/

@media only screen and (max-width: 700px) {

    .services-seperator{
        display: flex;
        flex-direction: column;
    }
    /* 

    Schedule Seperator 

    */

    .schedule-seperator span{
        position: absolute;
        top: 52%;
        right: 5%;
        background-color: var(--gold);
        padding: 16px 16px;
        text-transform: uppercase;
        color: var(--white);
    }

    /* 

    Flaunt content Picture and Text 

    */
    .flaunt-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flaunt-content img{
        max-width: 100%;
        height: auto;
    }

    /* Horizontal line before and after Heading */
    .services-container::before{
        display: none;
    }
    /* Horizontal line before and after Heading */
    .services-container::after{
        display: none;
    }

    .services-columns{
        display: flex;
        flex-direction: column;
     }
    
    .columns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
    }

    .contact-column{
        width: 100%;
    }

}

/*

    Media query for screens smaller than 600px

*/

@media only screen and (max-width: 600px) {

    /* 

    Schedule Seperator 

    */

    .schedule-seperator span{
        position: absolute;
        top: 40%;
        right: 5%;
        background-color: var(--gold);
        padding: 16px 16px;
        text-transform: uppercase;
        color: var(--white);
    }

    .flaunt{
        width: 100%;
        padding: 0 10px;
    }

    .flaunt-content{
        width: 100%;
        padding: 20px 0;
    }

    .flaunt-list img{
        width: 20%;
    }

    .Slides{
        width: 325px;
    }
    
    .Slides img{
        width: 325px;
    }

    /* 
        Mobile side nav
    */

    .links{
        display: none;
    }

    .mobile-menu{
        display: block;
        position: absolute;
        right: 14px;
        color: var(--green);
        padding: 4px 6px;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .mobile-menu:hover{
        color: var(--gold);
    }

    .sideNav{
        display: block;
        height: 100%;
        background-color: var(--matteblack);
        width: 0;
        position: fixed;
        z-index: 1;
        padding-top: 60px;
        top: 0px;
        right: 0;
        overflow: hidden;
       -webkit-transition: 0.5s; 
       transition: 0.5s;
    }

    .sideNav a{
        text-decoration: none;
        color: var(--white);
        font-size: 25px;
        display: block;
        text-align: center;
        padding: 10px 0;
        margin-top: 10px;
        cursor: pointer;
    }

    .sideNav a:hover{
        color: var(--green);
    }

    .sideNav .close-btn{
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

    .sideNav .close-btn:hover{
        color: var(--green);
    }
    

}

@media only screen and (max-width: 400px) {
    
    
    .gall{
        padding: 10px 10px;
        max-width: 325px;
    }

    .modal-content{
        margin: auto;
        display: block;
        width: 80%;
        max-width: 325px;
        animation: zoom 0.6s;
    }
}